div#page_accInfoEnter(style="text-align: center")
    form#accInfoEnterWrap.form_accInfo.clear(action="#{accountantInfo._id?'/accountant/update':'/accountant/save'}", method="post", enctype="multipart/form-data", target="iframe_accountantSubmit", style="display: inline-block; max-width: 820px; padding-top: 40px;")
        if accountantInfo._id
            input(type="hidden", name="_id", value="#{accountantInfo._id}")
        div.formGroup(style="width: 370px; height: 197px")
            div.portraitWrap
                img.portrait(src="#{accountantInfo.portrait_url || '/images/portrait.png'}", alt="头像")
                if !accountantInfo._id
                    input(type="file", name="portrait", placeholder="请选择文件",  accept="image/x-png,image/gif,image/jpeg,image/bmp,image/jpeg,image/png")
                else
                    input(type="file", name="portrait", placeholder="请选择文件",  accept="image/x-png,image/gif,image/jpeg,image/bmp,image/jpeg,image/png", disabled="disabled")
                if !accountantInfo._id
                    button.fileButton(type="button") 上传头像
                else
                    button.changeFileButton(type="button") 修改头像
        div.formGroup
            label 身份证号码：
            div.inputWrap
                input(type="text", name="id_card", placeholder="请填写", autofocus="autofocus", value="#{accountantInfo.id_card || ''}")
        div.formGroup
            label 姓名：
            div.inputWrap
                input(type="text", name="name", placeholder="请填写", value="#{accountantInfo.name || ''}")
        div.formGroup
            label 现所在地行政区划：
            div.inputWrap
                .row
                    .col-xs-6
                        select(name="city", placeholder="选择市")
                            each city in selectOptions.yunnan
                                option(value="#{city.name}", data-area="#{JSON.stringify(city.area)}") #{city.name}
                    .col-xs-6
                        select(name="area", placeholder="选择区")
        div.formGroup
            label 性别：
            div.inputWrap
                label.radioLabel
                    input(type="radio", name="sex", value="男", data-value="#{accountantInfo.sex || '男'}") 
                    span 男
                label.radioLabel
                    input(type="radio", name="sex", value="女", data-value="#{accountantInfo.sex}") 
                    span 女
        div.formGroup
            label 专业技术资格级别：
            div.inputWrap
                input(type="text", name="qualification_level", novalid, placeholder="请填写", value="#{accountantInfo.qualification_level || ''}")
        div.formGroup
            label 专业技术资格取得方式：
            div.inputWrap
                input(type="text", name="qualification_getType", novalid, placeholder="请填写", value="#{accountantInfo.qualification_getType || ''}")
        div.formGroup
            label 专业技术资格取得时间：
            div.inputWrap
                input(type="date", name="qualification_getDate", novalid, placeholder="请填写", value="#{accountantInfo.qualification_getDate || ''}")
        div.formGroup
            label 换证日期：
            div.inputWrap
                input(type="date", name="renewal_date", novalid, placeholder="请填写", value="#{accountantInfo.renewal_date || ''}")
        div.formGroup
            label 从业资格证发证日期：
            div.inputWrap
                input(type="date", name="certification_date", placeholder="请填写", value="#{accountantInfo.certification_date || ''}")
        div.formGroup
            label 专业技术资格证书号或批文号：
            div.inputWrap
                input(type="text", name="qualification_number", novalid, placeholder="请填写", value="#{accountantInfo.qualification_number || ''}")
        div.formGroup
            label 继续教育年度：
            div.inputWrap
                select(name="continuing_edu_year", placeholder="请选择", data-value="#{accountantInfo.continuing_edu_year || new Date().getFullYear()+''}")
                    each y in selectOptions.continuing_edu_year
                        option(value="#{y}") #{y}
        div.formGroup
            label 课程内容：
            div.inputWrap
                input(type="text", name="course_content", novalid, placeholder="请填写", value="#{accountantInfo.course_content || ''}")
        div.formGroup
            label 培训学时：
            div.inputWrap
                input(type="text", name="training_hours", placeholder="请填写", value="#{accountantInfo.training_hours || ''}")
        div.formGroup
            label 培训单位：
            div.inputWrap
                input(type="text", name="training_unit", placeholder="请填写", value="#{accountantInfo.training_unit || ''}")
        div.formGroup
            label 培训日期：
            div.inputWrap
                input(type="date", name="training_date", placeholder="请填写", value="#{accountantInfo.training_date || ''}")
        
        div.buttonList(style="text-align: center")
            if !accountantInfo._id
                button.reset(type="reset") 重置
            button.submit(type="button") 确认提交
iframe#iframe_accountantSubmit(src="", frameborder="0", name="iframe_accountantSubmit", height="0px", width="0px")
script(src="/javascripts/accountant.js" type="text/javascript")