doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="renderer" content="webkit")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title #{title}
        link(rel='stylesheet', href='/stylesheets/student_check.css')
    body(style="overflow: hidden;position: relative;width: 100%;height: 100%;margin:0px;padding:20px;box-sizing:border-box;background-image:url(\"#{waterMaskImg}\");")
        //- img(src="#{waterMaskImg}", alt="")
        //- canvas#watermask
        //- each x in waterMaskCss
        //-     span.watermark(style="top: #{x[0]}px; left: #{x[1]}px")  #{sysConfig.acc_waterMask || ''}
        #wrap_table_student_check.accountant
            .bigTitle(style="margin-bottom: 20px;") #{sysConfig.acc_searchTitle || '查询结果'}
            table
                tr
                    td.title 有效身份证件号码：
                    td #{accountantInfo.id_card}
                    td.title 姓名：
                    td #{accountantInfo.name}
                    td(rowspan="4") 
                        img.portrait(src="#{accountantInfo.portrait_url}", alt="")
                tr
                    td.title 现所在地行政区划：
                    td #{accountantInfo.city} / #{accountantInfo.area}
                    td.title 性别：
                    td #{accountantInfo.sex}
                tr
                    td.title 专业技术资格级别：
                    td #{accountantInfo.qualification_level}
                    td.title 专业技术资格取得方式：
                    td #{accountantInfo.qualification_getType}
                tr
                    td.title 专业技术资格取得时间：
                    td #{accountantInfo.qualification_getDate}
                    td.title 换证日期：
                    td #{accountantInfo.renewal_date}
                tr
                    td.title 从业资格证发证日期：
                    td #{accountantInfo.certification_date}
                    td.title 专业技术资格证书号或批文号：
                    td #{accountantInfo.qualification_number}
                    td
            
            .dataBlock
                p 继续教育年度
                span #{accountantInfo.continuing_edu_year}
            .dataBlock
                p 课程内容
                span #{accountantInfo.course_content}
            .dataBlock
                p 培训学时
                span #{accountantInfo.training_hours}
            .dataBlock
                p 培训单位
                span #{accountantInfo.training_unit}
            .dataBlock
                p 培训日期
                span #{accountantInfo.training_date}

            if hasBack==1
                a.toSearchPage(href="/accountant/search?bgcolor=#{bgcolor}", style="font-size: 14px;text-align: center") 返回查询页
script(src="/plugins/watermask/watermask.js" type="text/javascript")
//- script.
//-     window.onload = function(){
//-         if("#{sysConfig.acc_waterMask}"){
//-             new WaterMask({
//-                 font: "#{sysConfig.acc_waterMask || ''}",
//-                 fontType: '黑体',
//-                 bold: 'bold',
//-                 size: 30,
//-                 color: "#ddd",
//-                 alpha: 0.15,
//-                 rotate: 335,
//-                 scale: 1,
//-                 startX: 10,
//-                 startY: 0,
//-                 rows: 20,
//-                 cols: 20,
//-                 xGap: 350,
//-                 yGap: 200,
//-                 repeat: true
//-             })
//-         }
//-     };