doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title #{title}
        link(rel='stylesheet', href='/stylesheets/student_check.css')
    body
        #wrap_table_student_check.profession(style="padding: 15px 30px;")
            .bigTitle(style="color: #006699;font-size: 26px;font-weight: normal;") #{sysConfig.pro_searchTitle || '查询结果'}
            table
                tr
                    td.title 姓名：
                    td #{professionInfo.name}
                    td.title 性别：
                    td #{professionInfo.sex}
                    td(rowspan="8", width="180", style="text-align: center") 
                        img.portrait(src="#{professionInfo.portrait_url}", alt="")
                tr
                    td.title 民族：
                    td #{professionInfo.nation}
                    td.title 籍贯：
                    td #{professionInfo.province+professionInfo.city}
                tr
                    td.title 出生时间：
                    td #{professionInfo.birthday}
                    td.title 专业名称：
                    td #{professionInfo.major}
                tr
                    td.title 证书编号：
                    td #{professionInfo.certificate_num}
                    td.title 资格级别：
                    td #{professionInfo.qualification_level}
                tr
                    td.title 发证时间：
                    td #{professionInfo.certification_date}
                    td.title 证件号码：
                    td #{professionInfo.id_card}
                tr
                    td.title 单位名称：
                    td(colspan="3") #{professionInfo.company_name}
                tr
                    td.title 理论知识考试成绩：
                    td #{professionInfo.theory_score}
                    td.title 实践技能考试成绩：
                    td #{professionInfo.practice_score}
                tr
                    td.title 综合评审成绩：
                    td #{professionInfo.comprehensive_score}
                    td.title 评定成绩：
                    td #{professionInfo.evaluate_score}
            div(style="margin-top: 25px;padding-left: 30px")
                p(style="margin-bottom: 5px;font-size: 14px;") 注意事项：
                p(style="margin: 10px 0px;font-size: 14px;") 1、本查询系统所显示内容用于持证人及用人单位辨别证书真伪；
                p(style="margin: 10px 0px;font-size: 14px;") 2、本查询系统所显示内容如有不符请联系资料上报单位；
            if hasBack==1
                a.toSearchPage(href="/profession/search?bgcolor=#{bgcolor}", style="font-size: 14px;text-align: center") 关闭页面