link(rel='stylesheet', href='/stylesheets/template.css')
#report_template
    .template_wrap
        iframe#iframe_template(src="/report/template/report_template", frameborder="0", width="100%", height="100%")
    .config_wrap
        form#form_report_config(action="#{templateConfig._id?'/report/template/update':'/report/template/save' }", method="post", enctype="multipart/form-data", target="iframe_reportConfig")
            p.configTitle 前言
            if templateConfig._id
                input(type="hidden", name="_id", value="#{templateConfig._id}")
            .form-group
                label 文字：
                textarea.form-control(name="preface_text", rows="5") #{templateConfig.preface_text}
            .form-group
                label 加粗部分：
                textarea.form-control(name="preface_strongText", rows="3") #{templateConfig.preface_strongText}
            .row
                .col-xs-4
                    .form-group
                        label 字号：
                        input.form-control(name="preface_fontSize", type="number", value="#{templateConfig.preface_fontSize}")
                
                .col-xs-4
                    .form-group
                        label 行距：
                        input.form-control(name="preface_lineHeight", type="number", value="#{templateConfig.preface_lineHeight}")
                .col-xs-4
                    .form-group
                        label 字距：
                        input.form-control(name="preface_letterSpace", type="number", value="#{templateConfig.preface_letterSpace}")
            .row
                .col-xs-4
                    .form-group
                        label 上距离：
                        input.form-control(name="preface_topMargin", type="number", value="#{templateConfig.preface_topMargin}")
                .col-xs-4
                    .form-group
                        label 左距离：
                        input.form-control(name="preface_leftMargin", type="number", value="#{templateConfig.preface_leftMargin}")
                .col-xs-4
                    .form-group
                        label 右距离：
                        input.form-control(name="preface_rightMargin", type="number", value="#{templateConfig.preface_rightMargin}")
            <hr>
            p.configTitle 标题
            .form-group
                label 文字：
                input.form-control(name="title_text", type="text", value="#{templateConfig.title_text}")
            .row
                .col-xs-4
                    .form-group
                        label 字号：
                        input.form-control(name="title_fontSize", type="number", value="#{templateConfig.title_fontSize}")
                .col-xs-4
                    .form-group
                        label 字距：
                        input.form-control(name="title_letterSpace", type="number", value="#{templateConfig.title_letterSpace}")
                .col-xs-4
                    .form-group
                        label 上距离：
                        input.form-control(name="title_topMargin", type="number", value="#{templateConfig.title_topMargin}")
            <hr>
            p.configTitle 编号&打印日期
            .row
                .col-xs-4
                    .form-group
                        label 字号：
                        input.form-control(name="codeDate_fontSize", type="number", value="#{templateConfig.codeDate_fontSize}")
                .col-xs-4
                    .form-group
                        label 行距：
                        input.form-control(name="codeDate_lineHeight", type="number", value="#{templateConfig.codeDate_lineHeight}")
                .col-xs-4
                    .form-group
                        label 字距
                        input.form-control(name="codeDate_letterSpace", type="number", value="#{templateConfig.codeDate_letterSpace}")
            .row
                .col-xs-4
                    .form-group
                        label 上距离：
                        input.form-control(name="codeDate_topMargin", type="number", value="#{templateConfig.codeDate_topMargin}")
                .col-xs-4
                    .form-group
                        label 右距离：
                        input.form-control(name="codeDate_rightMargin", type="number", value="#{templateConfig.codeDate_rightMargin}")
            <hr>
            p.configTitle 人员信息
            .row
                .col-xs-4
                    .form-group
                        label 字号：
                        input.form-control(name="info_fontSize", type="number", value="#{templateConfig.info_fontSize}")
                .col-xs-4
                    .form-group
                        label 行距：
                        input.form-control(name="info_lineHeight", type="number", value="#{templateConfig.info_lineHeight}")
                .col-xs-4
                    .form-group
                        label 字距
                        input.form-control(name="info_letterSpace", type="number", value="#{templateConfig.info_letterSpace}")
            .row
                .col-xs-4
                    .form-group
                        label 上距离：
                        input.form-control(name="info_topMargin", type="number", value="#{templateConfig.info_topMargin}")
                .col-xs-4
                    .form-group
                        label 左距离：
                        input.form-control(name="info_leftMargin", type="number", value="#{templateConfig.info_leftMargin}")
            <hr>
            p.configTitle 二维码
            .row
                .col-xs-4
                    .form-group
                        label 大小：
                        input.form-control(name="qrcode_size", type="number", value="#{templateConfig.qrcode_size}")
                .col-xs-4
                    .form-group
                        label 上距离：
                        input.form-control(name="qrcode_topMargin", type="number", value="#{templateConfig.qrcode_topMargin}")
                .col-xs-4
                    .form-group
                        label 左距离
                        input.form-control(name="qrcode_leftMargin", type="number", value="#{templateConfig.qrcode_leftMargin}")
            <hr>
            p.configTitle 落款
            .form-group
                label 文字：
                input.form-control(name="inscription_text", type="text", value="#{templateConfig.inscription_text}")
            .row
                .col-xs-4
                    .form-group
                        label 字号：
                        input.form-control(name="inscription_fontSize", type="number", value="#{templateConfig.inscription_fontSize}")
                .col-xs-4
                    .form-group
                        label 行距：
                        input.form-control(name="inscription_lineHeight", type="number", value="#{templateConfig.inscription_lineHeight}")
                .col-xs-4
                    .form-group
                        label 字距：
                        input.form-control(name="inscription_letterSpace", type="number", value="#{templateConfig.inscription_letterSpace}")
            .row
                .col-xs-4
                    .form-group
                        label 上距离：
                        input.form-control(name="inscription_topMargin", type="number", value="#{templateConfig.inscription_topMargin}")
                .col-xs-4
                    .form-group
                        label 右距离：
                        input.form-control(name="inscription_rightMargin", type="number", value="#{templateConfig.inscription_rightMargin}")
                .col-xs-4
                    .form-group
                        label 宽度：
                        input.form-control(name="inscription_width", type="number", value="#{templateConfig.inscription_width}")
            <hr>
            p.configTitle 报告说明
            .form-group
                label 文字：
                textarea.form-control(name="instruction_text", rows="4") #{templateConfig.instruction_text}
            .row
                .col-xs-4
                    .form-group
                        label 字号：
                        input.form-control(name="instruction_fontSize", type="number", value="#{templateConfig.instruction_fontSize}")
                .col-xs-4
                    .form-group
                        label 行距：
                        input.form-control(name="instruction_lineHeight", type="number", value="#{templateConfig.instruction_lineHeight}")
                .col-xs-4
                    .form-group
                        label 字距：
                        input.form-control(name="instruction_letterSpace", type="number", value="#{templateConfig.instruction_letterSpace}")
            .row
                .col-xs-4
                    .form-group
                        label 上距离：
                        input.form-control(name="instruction_topMargin", type="number", value="#{templateConfig.instruction_topMargin}")
                .col-xs-4
                    .form-group
                        label 左距离：
                        input.form-control(name="instruction_leftMargin", type="number", value="#{templateConfig.instruction_leftMargin}")
            <hr>
            p.configTitle 印章
            .form-group
                label 图片：
                input.form-control(name="seal", type="file", value="", placeholder="请选择文件",  accept="image/x-png,image/gif,image/jpeg,image/bmp,image/jpeg,image/png")
            .row
                .col-xs-4
                    .form-group
                        label 大小：
                        input.form-control(name="seal_size", type="number", value="#{templateConfig.seal_size}")
                .col-xs-4
                    .form-group
                        label 上距离：
                        input.form-control(name="seal_topMargin", type="number", value="#{templateConfig.seal_topMargin}")
                .col-xs-4
                    .form-group
                        label 右距离：
                        input.form-control(name="seal_rightMargin", type="number", value="#{templateConfig.seal_rightMargin}")
            <hr>
            .form-group
                label 背景图：
                input.form-control(name="background", type="file", value="", placeholder="请选择文件",  accept="image/x-png,image/gif,image/jpeg,image/bmp,image/jpeg,image/png")

    .buttonList
        button.preview.btn.btn-info(type="button") 预览
        button.save.btn.btn-primary(type="button") 保存

iframe#iframe_reportConfig(src="", frameborder="0", name="iframe_reportConfig", height="0px", width="0px")
script(src="/javascripts/template.js" type="text/javascript")

