doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title 认证报告
    body
        style.
            html,body{
                margin: 0px;
                padding: 0px;
            }
            #student_print {
                position: relative;
                margin: 0 auto;
                width: 820px;
                height: 1160px;
            }

            #student_print p {
                margin-top: 0;
                margin-bottom: 0
            }

            #student_print>* {
                position: absolute
            }

            #student_print .space-5 {
                letter-spacing: 5px
            }

            #student_print .space-4 {
                letter-spacing: 4px
            }

            #student_print .space-3 {
                letter-spacing: 3px
            }

            #student_print .space-2 {
                letter-spacing: 2px
            }

            #student_print .space-1 {
                letter-spacing: 1px
            }

            #student_print .ht {
                font-family: '黑体'
            }

            #student_print .st {
                font-family: '宋体'
            }

            #student_print .wryh {
                font-family: 'Microsoft YaHei'
            }

            #student_print .yt {
                font-family: '圆体', Helvetica
            }

            #student_print .fw-normal {
                font-weight: normal;
            }

            #student_print .fw-100 {
                font-weight: 100;
            }

            #student_print .fw-300 {
                font-weight: 300;
            }

            #student_print .fw-600 {
                font-weight: 600;
            }

            #student_print .backgroundImg{
                width: 100%;
                height: 100%;
                z-index: 0;
            }

            #student_print .text1 {
                font-size: 15px;
                top: 90px;
                left: 96px;
                right: 91px;
                line-height: 25px;
                letter-spacing: 0px;
            }

            #student_print .text2 {
                color: #000;
                font-weight: 400;
                top: 240px;
                right: 0;
                left: 0;
                text-align: center;
                font-size: 37px;
                letter-spacing: 12px
            }

            #student_print .text3 {
                top: 320px;
                left: 475px;
                letter-spacing: 5px;
                font-size: 16px;
                font-weight: 600;
            }

            #student_print .text4 {
                top: 350px;
                left: 475px;
                letter-spacing: 5px;
                font-size: 16px;
                font-weight: 600;
            }

            #student_print .text5 {
                top: 375px;
                left: 100px;
                letter-spacing: 4px;
                line-height: 39px;
                font-size: 18px;
                font-weight: 600;
            }

            #student_print .text6 {
                top: 865px;
                right: 70px;
                font-size: 23px;
                letter-spacing: 7px;
                font-weight: 100
            }

            #student_print .text7 {
                top: 910px;
                right: 115px;
                font-size: 23px;
                letter-spacing: 7px;
                font-weight: 100
            }

            #student_print .qrcode {
                top: 845px;
                left: 100px;
                width: 120px;
                height: 120px
            }

            #student_print .text8 {
                font-size: 10px;
                top: 932px;
                left: 208px;
                font-weight: 300;
                -webkit-transform: scale(0.9);
                letter-spacing: 3px;
                width: 300px;
            }

            #student_print .text9 {
                font-size: 10px;
                top: 952px;
                left: 208px;
                font-weight: 300;
                -webkit-transform: scale(0.9);
                letter-spacing: 0px;
                width: 300px;
            }

            #student_print .text10 {
                font-size: 17px;
                top: 970px;
                left: 100px
            }

            #student_print .text11 {
                font-size: 13px;
                left: 100px;
                top: 1005px
            }

            #student_print .text12 {
                font-size: 13px;
                left: 100px;
                top: 1027px
            }

            #student_print .seal{
                bottom: 185px;
                right: 150px;
                width: 190px;
            }

        #student_print
            img.backgroundImg(src="/images/bg_student_print.jpg?t=2", alt="")
            p.text1
                b.ht 《中华人民共和国职业教育法》
                span.st 自1996年9月1日起施行，其第二十五条规定：接受职业学校教育的学生，经学校考核合格，按照国家有关规定，发给学历证书。接受职业培训的学生，经培训的职业学校或者职业培训机构考核合格，按照国家有关规定，发给培训证书。学历证书、培训证书按照国家有关规定，作为职业学校、职业培训机构的毕业生、结业生从业的凭证。
            p.text2.ht 中国中等职业教育认证报告
            p.text3.st 报告编号：
                span.space-3.fw-normal #{("0000000000000000" + studentInfo.report_code ).substr( -7 )}
            p.text4.st 打印日期：
                span.space-3.fw-normal #{studentInfo.printDate}
            div.text5
                p.ht 姓　　名：
                    span.st.fw-normal #{studentInfo.name}
                p.ht 性　　别：
                    span.st.fw-normal #{studentInfo.sex}
                p.ht 出生日期：
                    span.st.fw-normal #{studentInfo.birthday}
                p.ht 院校类别：
                    span.st.fw-normal #{studentInfo.education_type}
                p.ht 院校名称：
                    span.st.fw-normal #{studentInfo.graduate_institutions_name}
                p.ht 专业名称：
                    span.st.fw-normal #{studentInfo.major}
                p.ht 毕业日期：
                    span.st.fw-normal #{studentInfo.graduation_date}
                p.ht 毕 结 业：
                    span.st.fw-normal #{studentInfo.edu_conclusion}
                p.ht 证书编号：
                    span.st.fw-normal #{studentInfo.certificate_num}
                p.ht 以上学历情况属实,专此认证。
                p.ht (以下无正文)
            p.text6.yt 全国中等专业学校学生信息
            p.text7.yt 咨询与就业服务中心
            img.qrcode(src="/student/getQrcode/#{studentInfo._id}", onload="if(window.top.$)window.top.$('#modal_student_report .print,.download').removeAttr('disabled')")
            p.text8 认证报告在线验证网址：
            p.text9 #{studentInfo.checkWebsite}
            p.text10 报告说明：
            p.text11.st 1、中国中等教育学生信息网(#{studentInfo.searchWebsite})是全国中等教育的学生公益服务平台
            p.text12.st 2、证书内容由发证机关负责,中国中等教育学生信息网负责对外公示
            //- img.seal(src="/images/seal_260.png", alt="")
            

